body {
  width: 20rem;
/*  height: 20rem; */
  margin: 1.5rem;
  background-color: #f9f9fc;
  border-radius: 8px;
}


h1 {
  margin: 0;
  text-align: center;
  color: #353131;
  font-family: Helvetica, Arial, sans-serif;
}

.button-container {
  display: flex;
  /*justify-content: center; */
  justify-content: space-around;
}

button
{
  width: 40%;
  margin-top: 1.5rem;
  padding: 12px;
  background: #d8dbdf;
  font-size: 17px;
  font-weight: 600;
  color: #353131;
  border: 1px solid #353131;
  border-radius: 8px;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}